%p#notice= notice
%h1 Gratitudes
%table
  %thead
    %tr
      %th User
      %th Body
      %th{:colspan => "3"}
  %tbody
    - @gratitudes.each do |gratitude|
      %tr
        %td= gratitude.user_id
        %td= gratitude.body
        %td= link_to 'Show', gratitude
        %td= link_to 'Edit', edit_gratitude_path(gratitude)
        %td= link_to 'Destroy', gratitude, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Gratitude', new_gratitude_path
