<p id="notice"><%= notice %></p>

<h1>Gratitudes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gratitudes.each do |gratitude| %>
      <tr>
        <td><%= gratitude.user_id %></td>
        <td><%= gratitude.body %></td>
        <td><%= link_to 'Show', gratitude %></td>
        <td><%= link_to 'Edit', edit_gratitude_path(gratitude) %></td>
        <td><%= link_to 'Destroy', gratitude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gratitude', new_gratitude_path %>
