!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title gratitudinal
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'vue_app', media: 'all'
    = javascript_pack_tag 'vue_app'
    = render "js_env_variables"
    %link{:href => "/manifest.json", :rel => "manifest"}/
  %body
    = yield
    #app
      %nav.navbar.navbar-expand-sm.navbar-light.bg-light
        %router-link.navbar-brand{":to" => "{ name: 'gratidutes_path'}"} Gratitudinal
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %router-link.nav-link{":to" => "{ name: 'daily_gratidutes_path'}"}
                daily
          %ul.navbar-nav 
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: "#", id:"navbarDropdown", role: "button", "data-toggle"=> "dropdown" }
                = image_tag('user.png', style: "height: 2em")
              .dropdown-menu.dropdown-menu-right
                .dropdown-item
                  %router-link.nav-link{":to" => "{ name: 'user_path'}"}
                    settings
                .dropdown-item
                  = link_to('Logout', destroy_user_session_path, method: :delete)
      .container
        %router-view
