<!DOCTYPE html>
<html>
  <head>
    <title>gratitudinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'vue_app', media: 'all'%>
    <%= javascript_pack_tag 'vue_app' %>
  </head>

  <body>
    <%= yield %>
    <div id="app">
      <p>
        <router-link :to="{ name: 'gratidutes_path'}">show all gratitudes</router-link>
        <router-link :to="{ name: 'new_gratidute_path'}">new</router-link>
        <router-link :to="{ name: 'gratidute_path', params: { id: 1 }}">Go to 1</router-link>
        <router-link :to="{ name: 'gratidute_path', params: { id: 2 }}">Go to 2</router-link>

      </p>
      <router-view></router-view>

      <hr>
      <counter></counter>
    </div>
  </body>
</html>

