<!DOCTYPE html>
<html>
  <head>
    <title>gratitudinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'vue_app', media: 'all'%>
    <%= javascript_pack_tag 'vue_app' %>
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <script>
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64("BMGa8j8aqbLIVYFqbY_B2EKjJi6crIYR3to9l5YTz38ea-I17L_G_T7rY8R6kukBnsonpTSMwkfNDrqZXE82mZ8=").bytes %>);
    </script>
    <button id="notification">send push</button>

    <%= yield %>
    <div id="app">

      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        
        <router-link :to="{ name: 'gratidutes_path'}" class="navbar-brand">Gratitudinal</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link :to="{ name: 'daily_gratidutes_path'}" class="nav-link">daily</router-link>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
  </body>
</html>

